.checkout{
    background-color: white !important;
    height: 100%;
    width: 100%;
}
.checkout__header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.checkout__header__ad {
    width:60%
}
.checkout__header__subtotal {
    margin:20px;
    width:25%;
    height: 90%;
}

.checkout__product__list {
    align-items: left;
    width: 70%;
    margin: 40px;
}
.checkout__title {
    margin:20px
}